{% extends 'user/base_dashboard.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <title>{% block title %}Windows Device Settings{% endblock %}</title>  
  {% endblock %}
  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
</head>
{% block nav_item_equipment %}active{% endblock nav_item_equipment %}
{% block nav_item_settings_tree_menu %}menu-open{% endblock nav_item_settings_tree_menu %}
{% block nav_item_settings_tree_active %}active{% endblock nav_item_settings_tree_active %}
{% block nav_item_devices_tree_menu %}menu-open{% endblock nav_item_devices_tree_menu %}
{% block nav_item_devices_tree_active %}active{% endblock nav_item_devices_tree_active %}
{% block nav_item_settings_device_active %}active{% endblock nav_item_settings_device_active %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Equipment Settings</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'console' %}">Settings</a></li>
            <li class="breadcrumb-item"><a href="{% url 'console' %}">Devices</a></li>
            <li class="breadcrumb-item active">Equipment</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
      <!-- Main content -->
      <section class="content">
        <div class="row">

          <!-- Add device section -->
          <div class="col-md-6">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Windows Device</h3>
  
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <form method="post">
                  {% csrf_token %}
                  <label for="inputName">Windows Device Name</label>
                  <div class="form-group input-group has-feedback">
                    <input maxlength="30" name="device_name" type="text" class="form-control">
                  </div>
                  <label for="inputStatus">Pod Location</label>
                  <div class="form-group input-group has-feedback">
    
                    <select id="inputStatus" name="pod_location" type="text" class="form-control custom-select">
                        <!-- NOTE** dump from database listing pods  -->
                      <option disabled>Select one</option>
                      <option value='0'>Networking Lab</option>
                      <option value='1'>Datacenter</option>
                    </select>
                  </div>
                  <label for="inputEstimatedBudget">Pod Number</label>
                  <div class="form-group input-group has-feedback">
                      <input  placeholder="0" step="1" min="0" name="pod_number" type="number" id="inputEstimatedBudget" class="form-control">
                  </div>
                  <!-- IP address -->
                  <label>IP Address</label>

                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-location-arrow"></i></span>
                    </div>
                    <input type="text" name="device_ip_address" class="form-control" data-inputmask="'alias': 'ip'" data-mask-ip>
                  </div>
                  </br>
                  <!-- MAC address -->
                  <label>MAC Address</label>

                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-laptop"></i></span>
                    </div>
                    <input type="text" name="device_mac_address" class="form-control" data-inputmask="'alias': 'mac'" data-mask-mac>
                  </div>
                    <!-- /.input group -->
                  <br>
                  <label for="inputDescription">Device Note</label>
                  <div class="form-group input-group has-feedback">
                    <textarea maxlength="100" name="device_note" type="text" class="form-control" rows="4"></textarea>
                  </div>
                  <button name="add_device" type="submit" class="btn btn-block btn-primary btn-lg">Add Device</button>
                </form>
              </div>
              <!-- /.card-body -->
              
            </div>
            <!-- /.card -->
          </div>

          <!-- Edit console section -->
          <div class="col-md-6">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Edit Windows Device</h3>
  
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <form method="get">

                  <label for="inputStatus">Select Device</label>
                  <select onchange="this.form.submit()" id="device_id" name="device_name" class="form-control custom-select">
                      <!-- NOTE** dump from database listing pods  -->
                    <option selected disabled>Select one</option>
                    {% if device_list %}
                      {% for device in device_list %}
                        {% if device_details.id == device.id %}
                          <option selected value="{{ device.id }}">{{ device.device_name }} (Pod #{{ device.pod_number }} - {% if device.pod_location is 0 %} Networking Lab {% else %}DataCenter{% endif %})</option>
                        {% else %}
                          <option value="{{ device.id }}">{{ device.device_name }} (Pod #{{ device.pod_number }} - {% if device.pod_location is 0 %} Networking Lab {% else %}DataCenter{% endif %})</option>
                        {% endif %}
                      {% endfor %}
                    {% else %}
                      <option disabled>No Devices Available</option>
                    {% endif %}
                  </select>
                  <noscript><input type="submit" value="Submit" name="get_device_detail"></noscript>
                </form>
                <form method="post">
                  {% csrf_token %}
                  
                  <label name="id" value="{{ device_details.id }}" for="inputName">Console Manager Name</label>
                  <div class="form-group input-group has-feedback">
                    <input name="device_name" type="text" value="{{ device_details.device_name }}"class="form-control">
                  </div>
                  <label for="inputStatus">Pod Location</label>
                  <div class="form-group input-group has-feedback">
    
                    <select id="inputStatus" name="pod_location" type="text" class="form-control custom-select">
                      <option disabled>Select one</option>
                      {% if device_details.pod_location is 0 %} 
                        <option selected value='0'>Networking Lab</option>
                      {% else %}
                        <option value='0'>Networking Lab</option>
                      {% endif %}
                      {% if device_details.pod_location is 1 %} 
                        <option selected value='1'>Datacenter</option>
                      {% else %}
                        <option value='1'>Datacenter</option>
                      {% endif %}
                    </select>
                  </div>
                  <label for="inputEstimatedBudget">Pod Number</label>
                  <div class="form-group input-group has-feedback">
                      <input value="{{ device_details.pod_number }}" placeholder="0" step="1" min="0" name="pod_number" type="number" id="inputEstimatedBudget" class="form-control">
                  </div>
                  <!-- IP address -->
                  <label>IP Address</label>

                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-location-arrow"></i></span>
                    </div>
                    <input value="{{ device_details.device_ip_address }}" type="text" name="device_ip_address" class="form-control" data-inputmask="'alias': 'ip'" data-mask>
                  </div>
                  </br>
                  <!-- MAC address -->
                  <label>MAC Address</label>

                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-laptop"></i></span>
                    </div>
                    <input value="{{ device_details.device_mac_address }}" type="text" name="device_mac_address" class="form-control" data-inputmask="'alias': 'mac'" data-mask>
                  </div>
                    <!-- /.input group -->
                  <br>
                  <label for="inputDescription">Device Note</label>
                  <div class="form-group input-group has-feedback">
                    <textarea maxlength="100" name="device_note" type="text" class="form-control" rows="4">{{ device_details.device_note }}</textarea>
                  </div>
                  <button type="button" class="btn btn-block btn-info btn-lg" data-toggle="modal" data-target="#modal-edit-device">Edit Device</button>
                  <div class="modal fade" id="modal-edit-device">
                    <div class="modal-dialog">
                      <div class="modal-content bg-info">
                        <div class="modal-header">
                          <h4 class="modal-title">Edit Device</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Confirm you would like to edit this Windows Device?</p>
                        </div>
                        <div class="modal-footer justify-content-between">
                          <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                          <button name="edit_device" type="submit" class="btn btn-outline-light">Confirm</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                </form>
              </div>
              <!-- /.card-body -->
              
            </div>
            <!-- /.card -->
          </div>

          <!-- delete console section -->
          <div class="col-md-6">
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">Delete Windows Device</h3>
  
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <form method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="inputStatus">Select Device</label>
                    <select id="device_id" name="device_name" class="form-control custom-select">
                        <!-- NOTE** dump from database listing pods  -->
                      <option disabled>Select one</option>
                      {% if device_list %}
                        {% for device in device_list %}
                        <option value="{{ device.id }}">{{ device.device_name }} (Pod #{{ device.pod_number }} - {% if device.pod_location is 0 %} Networking Lab {% else %}DataCenter{% endif %})</option>
                        {% endfor %}
                      {% else %}
                        <option disabled>No Devices Available</option>
                      {% endif %}
                    </select>
                  </div>
                  <button type="button" class="btn btn-block btn-danger btn-lg" data-toggle="modal" data-target="#modal-delete-device">Delete Device</button>
                  <div class="modal fade" id="modal-delete-device">
                    <div class="modal-dialog">
                      <div class="modal-content bg-danger">
                        <div class="modal-header">
                          <h4 class="modal-title">Delete Device</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Confirm you would like delete this Windows Device?</p>
                        </div>
                        <div class="modal-footer justify-content-between">
                          <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                          <button name="delete_device" type="submit" class="btn btn-outline-light">Confirm</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                </form>
              </div>
              <!-- /.card-body -->
            </div>

        </div>
          
        </section>
  <!-- /.content -->
</div>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
<!-- Control sidebar content goes here -->
</aside>

<!-- InputMask -->
<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'plugins/inputmask/jquery.inputmask.min.js' %}"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

<script>
  $(function () {
    $('[data-mask-ip]').inputmask()
    $('[data-mask-mac]').inputmask()
  });

  toastr.options = {
    "closeButton": true,
    "timeOut": "4000",
    "extendedTimeOut": "2000",
}
</script>

{% if messages %}
{% for message in messages %}
    {% if message.tags == 'success'%}
      <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
    {% elif message.tags == 'info' %}
        <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
    {% elif message.tags == 'warning' %}
        <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
    {% elif message.tags == 'error' %}
        <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
    {% endif %}
{% endfor %}
{% endif %}

<!-- /.control-sidebar -->
{% endblock %}
{% block footer %}
{% endblock %}

