{% extends 'user/base_dashboard.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <title>{% block title %}Equipment Settings{% endblock %}</title>  
  {% endblock %}
  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
</head>
{% block nav_item_equipment %}active{% endblock nav_item_equipment %}
{% block nav_item_settings_tree_menu %}menu-open{% endblock nav_item_settings_tree_menu %}
{% block nav_item_settings_tree_active %}active{% endblock nav_item_settings_tree_active %}
{% block nav_item_devices_tree_menu %}menu-open{% endblock nav_item_devices_tree_menu %}
{% block nav_item_devices_tree_active %}active{% endblock nav_item_devices_tree_active %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Equipment Settings</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'scripts' %}">Settings</a></li>
            <li class="breadcrumb-item"><a href="{% url 'console' %}">Devices</a></li>
            <li class="breadcrumb-item active">Equipment</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-md-6">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Device</h3>
  
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <form action="{% url 'equipment' %}" method="post"></form>
                <div class="card-body">
                  <div class="form-group">
                    <label for="inputName">Device Name</label>
                    <input type="text" id="inputName" class="form-control" value="">
                  </div>
                  <div class="form-group">
                    <label for="inputStatus">Device Type</label>
                    <select id="inputStatus" class="form-control custom-select">
                      <option disabled>Select one</option>
                      <option selected>Cisco Switch</option>
                      <option>Cisco Router</option>
                      <option>Windows Device</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="inputStatus">Select Pod</label>
                    <select id="inputStatus" class="form-control custom-select">
                      <option disabled>Select one</option>
                      <option selected>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                    </select>
                  </div>
                  <!-- IP address -->
                  <div class="form-group">
                    <label>IP Address:</label>

                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-laptop"></i></span>
                      </div>
                      <input type="text" class="form-control" data-inputmask="'alias': 'ip'" data-mask>
                    </div>
                    <!-- /.input group -->
                  </div>
                  <div class="icheck-primary d-inline">
                    <input type="checkbox" id="checkboxPrimary1">
                    <label for="checkboxPrimary1">
                      Allow Staff Account Access to Device
                    </label>
                  </div>
                  <div class="form-group">
                    <label for="inputDescription">Device Note</label>
                    <textarea id="inputDescription" class="form-control" rows="4"></textarea>
                  </div>
                </div>
            </form>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <div class="col-md-6">
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">Delete Device</h3>
  
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label for="inputStatus">Device Type</label>
                  <select id="inputStatus" class="form-control custom-select">
                    <!-- NOTE** dump from database listing pods  -->
                    <option disabled>Select one</option>
                    <option selected>Cisco Switch</option>
                    <option>Cisco Router</option>
                    <option>Windows Device</option>
                  </select>
                </div>
                <div class="form-group">
                    <label for="inputStatus">Select Device</label>
                    <select id="inputStatus" class="form-control custom-select">
                        <!-- NOTE** dump from database listing pods  -->
                      <option disabled>Select one</option>
                      <option selected>Pod 1</option>
                      <option>Pod 2</option>
                      <option>Pod 3</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="inputDescription">Reason for Deletion</label>
                    <textarea id="inputDescription" class="form-control" rows="4"></textarea>
                  </div>
                  <button type="button" class="btn btn-block btn-danger btn-lg" data-toggle="modal" data-target="#modal-delete-device">Delete Device</button>
                  <div class="modal fade" id="modal-delete-device">
                    <div class="modal-dialog">
                      <div class="modal-content bg-danger">
                        <div class="modal-header">
                          <h4 class="modal-title">Delete Device</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Confirm you would like to delete Device #xyz</p>
                        </div>
                        <div class="modal-footer justify-content-between">
                          <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-outline-light">Confirm</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
              </div>
              <!-- /.card-body -->
            </div>
 
            <!-- /.card -->
          </div>
          
        </section>
  <!-- /.content -->
</div>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
<!-- Control sidebar content goes here -->
</aside>

<!-- InputMask -->
<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'plugins/inputmask/jquery.inputmask.min.js' %}"></script>

<script>
  $(function () {
    $('[data-mask]').inputmask()
  });
</script>

<!-- /.control-sidebar -->
{% endblock %}
{% block footer %}
{% endblock %}

