{% extends 'user/base_dashboard.html' %}
{% load static %}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
  {% block head %}
    <title>{% block title %}Profile{% endblock %}</title>  
  {% endblock %}
</head>
{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Profile</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
              <li class="breadcrumb-item active">User Profile</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="{% static 'dist/img/user2-160x160.jpg' %}"
                       alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{ user_firstname }}</h3>
                <p class="text-muted text-center">{{ user_lastname }}</p>

               <!-- /.card-header -->
              <div class="card-body">
                <strong><i class="fas fa-user mr-1"></i>Account Type</strong>
                <p class="text-muted"></p>
                {% if request.user.is_superuser %}
                  Admin
                {% elif request.user.is_staff %}
                  Regular User
                {% else %}
                  Guest User
                {% endif %}
              </p>
              </div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
  {% endblock %}
  {% block footer %}
  {% endblock %}

