{% extends 'user/base_dashboard.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <title>{% block title %}Script Settings{% endblock %}</title>  
  {% endblock %}
</head>
{% block content %}
{% block nav_item_scripts %}active{% endblock nav_item_scripts %}
{% block nav_item_settings_tree_menu %}menu-open{% endblock nav_item_settings_tree_menu %}
{% block nav_item_settings_tree_active %}active{% endblock nav_item_settings_tree_active %}
  <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h2>Page dedicated to Script settings</h2>
    </section>

</div>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
<!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
{% endblock %}
{% block footer %}
{% endblock %}

